@import url("https://fonts.googleapis.com/css?family=Inter");



:root {
    --turbota-main: #2D3748;
    --turbota-focus: #DD6B20;
    --turbota-bg: #FFFFFF;
    --turbota-tag: #FEEBCB;
    --turbota-light-gray: #718096;
}

* {
    font-family: 'Inter' !important; 
    /* color: var(--turbota-main); */
}

.nav-link {
    height: 27px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    flex: none;
    flex-grow: 0;
}

.nav-link.active {
    color: var(--turbota-focus) !important;
    height: 28px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.navbar-brand {
    position: absolute;
    height: 32px;
    left: 40px;
    top: 24px;

    background: linear-gradient(90deg, var(--turbota-main) 94%, var(--turbota-focus) 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}

.nav-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 48px;

    position: absolute;
    width: 666px;
    height: 28px;
    left: 215px;
    top: 26px;
}

.menu {
    position: absolute;
    height: 80px;
    left: 0px;
    top: 0px;
}

.join-button {
    margin-left: var(--bs-navbar-brand-margin-end) !important;
    color: var(--turbota-bg) !important;
    background: var(--turbota-focus) !important;
    border-radius: 6px;
}

.page-body {

    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.heading-large {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;

    color: var(--turbota-main) !important;
}

.heading-medium {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;

    color: var(--turbota-main) !important;
}

.text-filtering-panel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-main) !important;
}

.text-drop-filtering {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-main) !important;
}

.filtering-panel {
    width: 305px;
}

.rating-tag {
    background-color: var(--turbota-tag) !important;
}

.rating-icon {
    margin-right: 5px;
    color: var(--turbota-focus) !important;
}

.consultant-name {
    /* position: absolute;
    width: 133px;
    height: 28px;
    left: 192px;
    top: 0px; */

    /* text-xl/lineHeight-7/font-semibold */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* gray/700 */

    color: var(--turbota-main);
}

.consultant-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: var(--turbota-main);
}

.consultant-specialisation {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--turbota-light-gray);
}

.consultant-experience {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: var(--turbota-main);
}

.consultant-page {
    margin-left: 220px;
    margin-right: 220px;
}

.slot-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: var(--turbota-main);
}

.slot-duration {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--turbota-light-gray);
}

.slot-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-main);
}

.consultant-tab {
    color: #FFFFFF !important;
    background-color: var(--turbota-focus) !important;
}

.from-to {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-light-gray);
}

.add-hours-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.select-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-main) !important;
}

option {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--turbota-main) !important;
}

.text-left {
    text-align: left !important;
}

.tab-calendar {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-top: var(--chakra-space-4) !important;

}

.cancel-button {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: var(--turbota-light-gray) !important;
    background-color: transparent !important;
}

.fc .fc-button-primary {
    background-color: var(--fc-button-bg-color, transparent);
    color: var(--fc-button-text-color, #2D3748);
    border-color: var(--fc-button-border-color, #E2E8F0);
}

.fc .fc-button-primary:disabled {
    background-color: var(--fc-button-bg-color, transparent);
    color: var(--fc-button-text-color, #2D3748);
    border-color: var(--fc-button-border-color, #E2E8F0);
    opacity: 1.0 !important;
}

.fc .fc-toolbar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--fc-button-text-color, #2D3748);
}

.fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: var(--fc-button-active-bg-color, #DD6B20);
    border-color: var(--fc-button-active-bg-color, #DD6B20);
}

.dayHeaderCustom {
    margin: 10px;
}

.dayHeaderTitlePast {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    text-align: center;

    /* gray/700 */

    color: #718096;
}

.dayHeaderNumericPast {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */

    text-align: center;

    /* gray/500 */

    color: #718096;
}

.dayHeaderTitlePast {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    text-align: center;

    /* gray/700 */

    color: #2D3748;
}

.dayHeaderNumericFuture {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */

    text-align: center;

    /* gray/700 */

    color: #2D3748;
}

.dayHeaderTitleToday {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    text-align: center;

    /* gray/700 */

    color: #DD6B20;
}

.dayHeaderNumericToday {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    /* identical to box height, or 45px */

    text-align: center;
   
    color: #FFFFFF;
}

.dayHeaderCircleToday {
    background: #DD6B20 !important;
}

.fc-view-harness  {
    border-radius: 50px;
}

.calendar-event {
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

    border: 1px solid #E2E8F0;
    background-color: #FFFFFF;
}

.fc-event-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;

    color: #2D3748;
}

.fc-event-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;


    color: #2D3748;
}

.fc-event-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    
    color: #2D3748;
}

.event-popover-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    
    color: #2D3748;
}

.event.popover-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #2D3748;
}

.fc-timegrid-slot {
    height: 60px !important;
    border-bottom: 0 !important;
}

.fc-timegrid-slot-label-cushion {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    text-align: center;
    
    color: #718096;
}

.event-popover-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    color: #2D3748;
}

.event-popover-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
    color: #2D3748;
}

.event-popover-issue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    color: #2D3748;
}

.react-calendar__tile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    width: 40px;
    height: 40px;
    
    color: #DD6B20;
}

.react-calendar__tile--active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    
    height: 40px;
    width: 40px;
    max-width: 40px;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #DD6B20;
    background-color: #FEEBCB;
    color: #DD6B20;
}


.react-calendar__tile:disabled {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    width: 40px;
    height: 40px;

    color: #718096;
}

.react-calendar__month-view__weekdays__weekday {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    /* width: 40px;
    height: 40px; */

    text-align: center;

    color: #718096;
  }

.react-calendar__navigation__label__labelText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #2D3748;
}

.create-consultation-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;

    display: flex;
    align-items: center;


    color: #2D3748;
}

.create-consultation-duration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* gray/500 */

    color: #718096;

}

.create-consultation-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #2D3748;
}

.create-consultation-button {
    border: 1px solid #CBD5E0 !important;
    color:  #2D3748 !important;
}

.create-consultation-button--active {
    border: 1px solid #DD6B20 !important;
    background-color: #FEEBCB !important;
    color:  #DD6B20 !important;
}

.create-consultation-issue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    color: #2D3748;
}

.create-consultation-textarea-unnessesary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #718096;
}


.confirm-button {
    background-color: #DD6B20 !important;
    color:  #FFFFFF !important;
}

.calendar-button {
    color: #2D3748 !important;
}